@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* homepage image */
.index img
{
   width: 700px;

   /* height: 700px;  */
}
/* navigation bar */
a{
    text-decoration: none;
    color: black;
}
header{
     position: sticky;
     top: 0;  
}
.navbar{
    height: 80px;
    background-color: #f0efeb;
   
}
.navbar img{
    width: 75px;
    height: 60px;
    margin: 10px;
    float: left;
}
.navbar h1{
    padding-top: 25px;
    padding-right: 25px;
    width: 400px;
    font-family: 'Caveat', cursive;
}
 .navreg 
{
    position: absolute;
    right: 10%;
    top: 3%;
    border:solid;
    padding-left: 5px;
    padding-right: 5px;
    border-color: black;
    border-radius: 10px;
    display: inline;

}
.navbar ul
{
    float: right;  
    padding-bottom: 5px;

}
.navbar li
{
    list-style: none;
   float: left;
    margin-right: 40px;
    font-size: 16.5px;
}
.navbar li a:hover
{
    color:#D00000;
    border: 2px solid white;
    padding: 2px;
    transition: 0.3s;
}
/* navigation :end */
/* slider */
/* Slideshow container */
.slideshow_container{
    position: relative; 
    max-width: 100%;
    z-index: -2;
    /* height: 475px; */
    /* margin: 40px; */
    /* margin-top: 20px; */
    /* padding-right: 100px; */
    /* right: 0; */
    /* border: 2px solid greenyellow; */
    
  }  
  .slideshow_container img{
    height: 450px;
    /* position: absolute; */
    width: 99%;
    /* margin-top: -2px; */
    margin: 15px 0px 0px 5px;

  }
    /* Fading animation */
    /* .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    } */
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) 
    {
      .text {font-size: 11px}
    }
    .imgslide{
        /* position: absolute; */
      width: 1000px;
      /* border: 2px solid red; */
      /* padding-right: 100px; */
      margin-top: 80px;
      /* height: 200px; */
    /* border: 2px solid red; */
    }
   /*  .mySlides{
      position: absolute; */
      /* top: 0; */
      /* margin-top: -80px; */
      /* margin-bottom: 100px; */
      /* width: 100%; 
    }*/ 
    .index h2
    {
        text-align: center;
    }
    .indexcontainer{
        text-align: center;
        /* border: solid black; */
    }
    .items1{
        display: inline-block;
       padding-top :10px;
       padding-bottom: 50px; 
        margin-right: 40px;
        margin-left: 20px;
        font-size: 20px;
        /* border-radius: 10px; */
        /* border: solid black; */
    }
    .items1 img{
        width: 250px;
        
    }

/* register page */
.register
{
    border: solid;
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;    
}
.register input
{
    /* float: right;
    margin-right: 80px; */
    
    margin: 10px 0;
    padding: 5px 10px; 
    display: block; 
    border: 2px solid #D3D3D3; 
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box; 
    margin-bottom: 20px;
}
.register:hover{
    box-shadow: 5px 3px 10px 2px #ff4d6d;
}
.submit
{
    /* margin-top: 30px; */
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
}
/* .register end */
/* login page */
.login
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
/* .login h3    
{
    padding-right: 50px;
} */
/* .login input
{
    position: relative;
    float:right;
    margin-right: 20px;
    padding-right: 10px;
} */
.login:hover
{
    box-shadow: 5px 3px 10px 2px;
}
.login a
{
  padding-right: 150px;
  color:blue;
}
.Submit
{
    padding: 10px;
    border: none;
    color: black;
    border-radius: 50px;
    background-color: white;
}
.login input[type=password],[type=email]
{
        margin: 10px 0;
        padding: 5px 10px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box; 
        margin-bottom: 20px;

} 
/* login :end */
/* forgetpassword */
.forgetpassword
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
.forgetpassword input
{
    
    
    margin: 10px 0;
    padding: 5px 10px; 
    display: block; 
    border: 2px solid #D3D3D3; 
    border-radius: 0px;
    width: 50%;
    box-sizing: border-box; 
    margin-bottom: 20px;
}
.Submit
{
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
}
/* occasions */
 /* .occasions
{
    /* text-decoration: none; */
    /* border: solid; 
    margin: 50px 30px 50px 30px;
    padding: 50px 30px 50px 30px;
    border: solid;
    padding-bottom: 250px;
    
}
.occasions .special 
{
    font-size: 20px;
    float: left;
    margin-left: 50px;
    padding-right: 100px; 
    
}
.special
{
    width: 200px;
    padding: right 0px; 
} */ 
/* occasions */
.cakerow{
    width: 200px;
    height: 300px;
    border: 2px solid brown;
    border-radius: 15px;
    display: inline-block;
    padding: 3px 10px 10px 4px;
    margin-left: 35px;
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.cakeimg{
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    
}
.cakecontainer h3
{
    padding-left: 36px;
padding-top: 12px;
font-size: 22px 
 
}
/* occassions end */
/* product.html */

/* designerscake */
/* .designcake
{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 3px 10px 10px 4px;
}
.designimg
{
    width: 200px;
    height: 250px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    
} */
/*.designers
{
  margin: 50px 500px 50px 200px;  
  padding-left: 50px;
  padding-bottom: 50px;
  border: solid;  
  
}
.designers h1
{
    padding-top: 30px;
    padding-bottom: 15px;
}
.designers ul
{
    padding-left: 20px;
    font-size: 20px;
}*
/* designer end */
/* ordernow */
.ordernow
{
    margin:  80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    border: solid;
    background-color:  #f0efeb;
}
/* .ordernow input
{
    margin: 10px 0;
        padding: 5px 10px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box; 
        margin-bottom: 20px;
} */
/* ordernow */
/* footer */
.Footer
{
    /* position: fixed; */
    /* position: absolute; */
    bottom: 0%;   
    background-color: #f0efeb;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* footer end */
/* contactus start */
/* .contact p*/
/*{
    text-align: center;
    margin: 80px 400px 0px 400px;
    
} */
/* contactus end */
/* privacy and policy start */
/* .privacy 
{
  /* text-align: justify; */
  /* justify-content: center; */
/* }  
/* privacy end */
.about
{
    margin-top: 20px;
    
}




