@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* homepage image */
.index img
{
   width: 700px;

   /* height: 700px;  */
}
/* navigation bar */
a{
    text-decoration: none;
    color: black;
}
.navbar{
    height: 100px;
    background-color: #f0efeb;
}
.navbar img{
    width: 75px;
    height: 60px;
    margin: 10px;
    float: left;
}
.navbar h1{
    padding-top: 25px;
    padding-right: 25px;
    width: 400px;
    font-family: 'Caveat', cursive;
}
 .navreg 
{
    position: absolute;
    right: 10%;
    top: 3%;
    border:solid;
    padding-left: 5px;
    padding-right: 5px;
    border-color: black;
    border-radius: 10px;
    display: inline;

}
.navbar ul
{
    float: right;  
    padding-bottom: 100px;

}
.navbar li
{
    list-style: none;
   float: left;
    margin-right: 40px;
    font-size: 16.5px;
}
.navbar li a:hover
{
    color:#D00000;
    border: 2px solid white;
    padding: 2px;
    transition: 0.3s;
}
/* navigation :end */
/* register page */
.register
{
    border: solid;
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;    
}
.register input
{
    float: right;
    margin-right: 80px;
}
.register:hover{
    box-shadow: 5px 3px 10px 2px #ff4d6d;
}
.submit
{
    /* margin-top: 30px; */
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
}
/* .register end */
/* login page */
.login
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
/* .login h3
{
    padding-right: 50px;
} */
.login input
{
    position: relative;
    float:right;
    margin-right: 20px;
    padding-right: 10px;
}
.login:hover
{
    box-shadow: 5px 3px 10px 2px;
}
.login a
{
  padding-right: 150px;
  color:blue;
}
.Submit
{
    padding: 10px;
    border: none;
    color: black;
    border-radius: 50px;
    background-color: white;
}
/* login :end */
/* forgetpassword */
.forgetpassword
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
.forgetpassword input
{
    
    padding-right: 10px;
}
.Submit
{
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
}
/* occasions */
 /* .occasions
{
    /* text-decoration: none; */
    /* border: solid; 
    margin: 50px 30px 50px 30px;
    padding: 50px 30px 50px 30px;
    border: solid;
    padding-bottom: 250px;
    
}
.occasions .special 
{
    font-size: 20px;
    float: left;
    margin-left: 50px;
    padding-right: 100px; 
    
}
.special
{
    width: 200px;
    padding: right 0px; 
} */ 

.designers
{
  margin: 50px 500px 50px 200px;  
  padding-left: 50px;
  padding-bottom: 50px;
  border: solid;  
  
}
.designers h1
{
    padding-top: 30px;
    padding-bottom: 15px;
}
.designers ul
{
    padding-left: 20px;
    font-size: 20px;
}
.flavours
{
    list-style-position: inside;
    
}


