@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
   
    

}
body {
    background-color: #fae1dd;
}
/* homepage image */
.index img
{
   width: 700px;

   /* height: 700px;  */
}
/* navigation bar */
a{
    text-decoration: none;
    color: black;
}
header{
     position: sticky;
     top: 0;  
}
.navbar{
    height: 80px;
    background-color: #f0efeb;
   
}
.navbar img{
    width: 75px;
    height: 60px;
    margin: 10px;
    float: left;
}
.navbar h1{
    padding-top: 25px;
    padding-right: 25px;
    width: 400px;
    font-family: 'Caveat', cursive;
}
 .navreg 
{
    position: absolute;
    right: 10%;
    top: 3%;
    border:solid;
    padding-left: 5px;
    padding-right: 5px;
    border-color: black;
    border-radius: 10px;
    display: inline;

}
.navbar ul
{
    float: right;  
    padding-bottom: 5px;

}
.navbar li
{
    list-style: none;
   float: left;
    margin-right: 40px;
    font-size: 16.5px;
}
.navbar li a:hover
{
    color:#D00000;
    border: 2px solid white;
    padding: 2px;
    transition: 0.3s;
}
/* search */
.searchContainer
{
    padding: 1%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}
.searchContainer>input[type="text"]{
padding: 0.4%;
padding-right: 30%;
}
/* navigation :end */
/* slider */
/* Slideshow container */
.slideshow_container{
  
    margin: 1%;
    position: relative; 
    max-width: 100%;
    z-index: -2;
    
    
  }  
  .slideshow_container img{
    height: 450px;
    /* position: absolute; */
    width: 99%;
    /* margin-top: -2px; */
    margin: 15px 0px 0px 5px;

  }
    
    @media only screen and (max-width: 300px) 
    {
      .text {font-size: 11px}
    }
    .imgslide{
        /* position: absolute; */
      width: 1000px;
      /* border: 2px solid red; */
      /* padding-right: 100px; */
      margin-top: 80px;
      /* height: 200px; */
    /* border: 2px solid red; */
    }
   /*  .mySlides{
      position: absolute; */
      /* top: 0; */
      /* margin-top: -80px; */
      /* margin-bottom: 100px; */
      /* width: 100%; 
    }*/ 

    .caption{
        background-color: white;
    }

    .horizontal {
        margin-left: 35%;
        width: 30%;
        border-style: none none dotted none;
        /* border-spacing: 100px; */
        border-width: 5px;
        border-color: grey;
        /* line-height: 50px; */

    }
    .index h2
    {
        text-align: center;
    }
    .indexcontainer{
        text-align: center;
}
.indexcontainer img
{
    width: 300px;
    height: 250px;
}

    .items1{
        display: inline-block;
       padding-top :10px;
       padding-bottom: 50px; 
        margin-right: 40px;
        margin-left: 20px;
        font-size: 20px;
        /* border-radius: 10px; */
        /* border: solid black; */
    }
    .items1 img{
        width: 250px;
        
    }

/* register page */
.register
{
    border: solid;
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;    
}
.register input
{
    /* float: right;
    margin-right: 80px; */
    
    margin: 10px 0;
    padding: 5px 10px; 
    display: block; 
    border: 2px solid #D3D3D3; 
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box; 
    margin-bottom: 20px;
}
.register:hover{
    box-shadow: 5px 3px 10px 2px #ff4d6d;
}
.submit
{
    /* margin-top: 30px; */
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
}
/* .register end */
/* login page */
.login
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
/* .login h3    
{
    padding-right: 50px;
} */
/* .login input
{
    position: relative;
    float:right;
    margin-right: 20px;
    padding-right: 10px;
} */
.login:hover
{
    box-shadow: 5px 3px 10px 2px;
}
.login a
{
  padding-right: 150px;
  color:blue;
}
.submit-btn
{
    padding: 10px;
    border: none;
    color: black;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}
.login input[type=password],[type=email]
{
        margin: 10px 0;
        padding: 5px 10px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box; 
        margin-bottom: 20px;

} 
/* login :end */
/* forgetpassword */
.forgetpassword
{
    margin: 80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    background-color: #f0efeb;
    border: solid;
}
.forgetpassword input
{
    
    
    margin: 10px 0;
    padding: 5px 10px; 
    display: block; 
    border: 2px solid #D3D3D3; 
    border-radius: 0px;
    width: 50%;
    box-sizing: border-box; 
    margin-bottom: 20px;
}
.Submit
{
    padding: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

/* occasions */
.occasions
{
    background-color: #fae1dd;

}
.cakerow{
    width: 200px;
    height: 300px;
    /* border: 2px solid ; */
    border-radius: 15px;
    display: inline-block;
    padding: 3px 4px 10px 4px;
    margin-left: 35px;
    margin-top: 10px;
    background-color:  #f0efeb;
    /* color: white; */
    text-align: center;
}
.cakeimg{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    
}
.cakecontainer h3
{
    padding-left: 36px;
padding-top: 12px;
font-size: 22px 
 
}
/* product */
.productRow img
{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px 50px 0 50px;
    float: left;
    
    /* padding: 5px 10px 5px 10px; */
}
.productRow .product-para {
    padding-top: 15%;
}
.productRow
{
   
    background-color: #fae1dd;
}

/* end product.html */
/* ordernow */
.orderColor
{
    background-color: #fae1dd;
}
.ordernow
{
    margin:  80px 400px 0px 400px;
    padding: 50px 0px 40px 80px;
    border: solid;
    background-color:  #f0efeb;
}
.ordernow input, .ordernow select
{
        margin: 10px 0;
        padding: 5px 10px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box; 
        margin-bottom: 20px;
       

} 
/* .ordernow input
{
    margin: 10px 0;
        padding: 5px 10px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box; 
        margin-bottom: 20px;
} */
/* ordernow */
/* footer */
.Footer
{
    /* position: fixed; */
    /* position: absolute; */
    bottom: 0%;   
    background-color: #f0efeb;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* footer end */
/* contactus start */
/* .contact p*/
/*{
    text-align: center;
    margin: 80px 400px 0px 400px;
    
} */
/* contactus end */
/* privacy and policy start */
/* .privacy 
{
  /* text-align: justify; */
  /* justify-content: center; */
/* }  
/* privacy end */
/* .about
{
    margin-top: 20px;
    
} */
img{
    width: 80px;
    height: 110px;
}
.cart p, .cart button {
    display: inline-block;
    cursor: pointer;

}
.cartData
{
    text-align: center;

}
.myOrder
{
    background-color: #fae1dd;
    

}
/* .my-order-div{
    display: flex;
    margin: 5% 30% 5% 15%;
    border: 1px solid #FFFFFF;
    padding: 2%;
    background-color: #f0efeb;
    /* min-width: 20%; 
} 
.orderContainer{
    /* display: flex; 
}*/
 .orderContainer  .my-order-div img
{
    width: 200px;
    height: 300px;

    /* margin-left: auto; */
    margin-right: 10%;
    border-radius: 15px;
    /* margin-left: 10%; */
   
    padding: 3px 4px 10px 4px;
  
    background-color:  #f0efeb; 
    
  

 } 
/* .my-order-div .my-order-p {
     text-align: center; 
    line-height: 1.5rem;
    margin-top: 5%;
    position: relative;
}
.my-order-btn {
    position: absolute;
} 

.my-order-div .order-btn {
    display: block;
    padding: 5%;
    margin-left: 30%;
}  */



.about
{
    margin-top:0 ;
    background-color:#fae1dd ;
}
.aboutUs
{
    margin: 0 2% 4% 2%;
    /* margin-left: 2%;
    margin-right: 2%; */
}




