<div class="navbar">
    <figure>
    
 <a href="index.html"><img src="assets/images/headercake.png" alt="show image"></a>
</figure>

    <h1>DIVINE CAKES</h1>
     <div class="navreg">
        <!-- <p><a href="cart.html">cart</a></p> -->
        <span><a routerLink='register'>Register</a></span>
        <span>/</span>
        <span><a routerLink='login'>Login</a></span>
    </div>
    
<ul class="navi">
    <li class="Brand"><a routerLink='home'>HOME</a></li>
    <li class="nav-item"><a routerLink='occasions'>OCCASIONS</a></li>
    <li class="nav-item"><a routerLink="designer">DESIGNER CAKES</a></li>
    <li class="nav-item"><a routerLink="flavours">FLAVOURS</a></li>
    <li class="nav-item"><a routerLink="cart">CART</a></li>
    <li class="nav-item"><a routerLink="aboutus">ABOUT US</a></li>
    
</ul>
</div>

