
    
    
    
<!-- <img src="images/thomas-unsplash.jpg" alt="show images"> -->



<div class="slideshow_container">

    <!-- <div class="mySlides fade">
        <img src="Assets/Images/bc1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="Assets/Images/bc2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="Assets/Images/bc3.jpg" style="width:100%">
    </div> -->

</div>   
<a href="ordernow.html"><button class="order">Order now</button></a>
<H2>GIFTS FOR YOUR LOVED ONES </H2>