
<div class="forgetpassword">
    <h1>Enter the new password</h1><br>
    <form onsubmit="forgetpassword()">
    <label for="">Email</label><br>
    <input type="email" name="email" id="email"required placeholder="Enter the email ID"><br>
    <label for="">New password</label><br>
    <input type="password" name="password" id="password"required placeholder="Enter the password"><br>
    <label for="ConfirmPassword">Confirm Password</label><br>
    <input type="password" name="ConfirmPassword" id="ConfirmPassword" required placeholder="Again enter the password"><br>
    <button class="Submit" type="submit">Submit</button>
    <a href="login.html">Back</a>
  